<p class='titlestyle'>Click the title below to see all the words in the word list:</p>
<div *ngFor="let list of wordlists">
  <div class="accord">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="matheader">
          <mat-panel-title class="titlestyle">
            {{list.list_name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{list.info}}</p>

        <div>
          <p class="helpstyle">Click the word list below to copy it for skribbl.io:</p>
          <p id="list.id" (click)="copyWords(list.words)"
            class="wordlist"
            [matTooltip]="tooltipContent"
            matTooltipPosition="after"
            aria-label="Tooltip for before and after copying text"
          >{{list.words}}</p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
