h1 {
  color: white;
  text-align: center;
}
.sitedesc {
  text-align: center;
  color: #168ff2;
}
.teststyle {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(124, 57, 233);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(255, 153, 0);
  font-style: italic;
}
  
.active {
  background-color: rgb(0, 138, 53);
}

.appcontent {
  margin: 20px 20px;
}